@media screen and (max-width: 640px) {
  .appBar {
    top: unset !important;
    bottom: 0 !important;
  }
  .appLinks {
    margin: auto !important;
  }
}

.appBar {
  color: moccasin !important;
}

.NoappBar {
  color: rgba(0, 0, 0, 0.54) !important;
}
